@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,900);

html, #app {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  max-height: 100%;
  position: relative;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}

.os {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 20px;
  background: transparent;
  z-index: 1;
}
